# DRILL PART 2 | DATA CLEANSING : CLEANING AND VALIDATING THE OUTCOME DATASET THROUGH COLUMN SCREENS

This github page is part of 3-series project named DRILL whose main focus is to explore and clean Airbnb dataset and finally building prediction model to predict outcomes of destination country of users. <br>

> Drill part 1 can be found in [airbnb_explore.ipynb][https://github.com/singh-sona/Messy-Data-Cleanning-Projects/blob/master/airbnb_explore.ipynb]

In [2]:
import pandas as pd
import numpy as np

print("Reading the Airbnb dataset...")
# Reading test and train files
df_train = pd.read_csv("train_users_2.csv",header=0, index_col=None)
df_test = pd.read_csv("test_users.csv", header=0, index_col=None)

# Combine both data sets to df_com, clearing the exisiting index and reset to give unique values 
df_com = pd.concat((df_train,df_test),axis=0, ignore_index=True, sort = False)

print("Shape of Airbnb data set is:")
print(df_com.shape)
print("Here's a sneak peak:")
df_com.head()

Reading the Airbnb dataset...
Shape of Airbnb data set is:
(275547, 16)
Here's a sneak peak:

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

In [3]:
# Fixing the date formats: 
# pd.to_datetime(df,format='%Y-%m-%d')
print("Fixing the date format...")
df_com['date_account_created']=pd.to_datetime(df_com['date_account_created'], format = '%Y-%m-%d')
df_com['timestamp_first_active']=pd.to_datetime(df_com['timestamp_first_active'], format='%Y%m%d%H%M%S')

print("Is there is any null values in date_account_created and timestamp_first_active?")
df_com['date_account_created'].isnull().values.any()

print("Check for yourself")
print(df_com.head())
# alternatively we can check number of nulls by .isnull().sum()
# if null is found, replace values from another column, df['null_col'].fillna(df['non_null_col',inplace=True])

Fixing the date format...
Is there is any null values in date_account_created and timestamp_first_active?
Check for yourself
           id date_account_created timestamp_first_active date_first_booking  \
0  gxn3p5htnn           2010-06-28    2009-03-19 04:32:55                NaN
1  820tgsjxq7           2011-05-25    2009-05-23 17:48:09                NaN
2  4ft3gnwmtx           2010-09-28    2009-06-09 23:12:47         2010-08-02
3  bjjt8pjhuk           2011-12-05    2009-10-31 06:01:29         2012-09-08
4  87mebub9p4           2010-09-14    2009-12-08 06:11:05         2010-02-18

      gender   age signup_method  signup_flow language affiliate_channel  \
0  -unknown-   NaN      facebook            0       en            direct
1       MALE  38.0      facebook            0       en               seo
2     FEMALE  56.0         basic            3       en            direct
3     FEMALE  42.0      facebook            0       en            direct
4  -unknown-  41.0         basic            0       en            direct

  affiliate_provider first_affiliate_tracked signup_app first_device_type  \
0             direct               untracked        Web       Mac Desktop
1             google               untracked        Web       Mac Desktop
2             direct               untracked        Web   Windows Desktop
3             direct               untracked        Web       Mac Desktop
4             direct               untracked        Web       Mac Desktop

  first_browser country_destination
0        Chrome                 NDF
1        Chrome                 NDF
2            IE                  US
3       Firefox               other
4        Chrome                  US

### Leaving date_first_booking: 
As it is evident from below outcome, Of 275547 there are whooping 186639 many null objects that accounts for more than 65% of total data points in column (67.73%). If included, there is high chance that model will overfit for NDF outcome.

In [4]:
print("null values in 'date_first_booking column' is:")
print(df_com['date_first_booking'].isnull().sum())
print("% of null values in 'date_first_booking column' is:")
print(df_com['date_first_booking'].isnull().sum()/275547)

null values in 'date_first_booking column' is:
186639
% of null values in 'date_first_booking column' is:
0.6773399819268582

In [5]:
print("Deleting 'date_first_booking' column... ")
del df_com['date_first_booking']
#del df['column_name']
#df_com = df_com.drop('date_first_booking', axis=1, inplace=True)
print("Check for yourself:")
df_com.head()

Deleting 'date_first_booking' column...
Check for yourself:

,id,date_account_created,timestamp_first_active,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,2009-03-19 04:32:55,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,2009-05-23 17:48:09,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,2009-06-09 23:12:47,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,2009-10-31 06:01:29,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,2009-12-08 06:11:05,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

### Fixing the age column:
Defined an user defined outlier function, which is designed to filter the data between a set minimum and maximum values in which user want to filter the data. Rest of data along with nan value is replaced with user defined rep_value which can be anything i.e. median, mean or mode; here it is -1 for sake of simplicity. While training model, different values can be tried to gauge the performance of outcome.

In [6]:
# Remove outliers function
def remove_outliers(df, col, min_val, max_val,rep_value):
    df[col]=np.where(df[col]<min_val, rep_value, df[col])
    df[col]=np.where(df[col]>max_val, rep_value, df[col])
    df[col]=np.where(df[col].isnull()==True, rep_value, df[col])
    return df

# Fixing age column
print("Fixing age column...")
df_com = remove_outliers(df=df_com, col='age', min_val=15, max_val=90, rep_value=-1)
df_com.head()

Fixing age column...

,id,date_account_created,timestamp_first_active,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,2009-03-19 04:32:55,-unknown-,-1.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,2009-05-23 17:48:09,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,2009-06-09 23:12:47,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,2009-10-31 06:01:29,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,2009-12-08 06:11:05,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

In [7]:
#Check
print("Checking for null values in age... (is there any null?)")
print(df_com.age.isnull().values.any())
print("Yikes! :/") if(df_com.age.isnull().values.any()) else print("Yaay! :D")

Checking for null values in age... (is there any null?)
False
Yaay! :D

Yaaaaay!

### Identify and fill additional columns with missing values

In [14]:
#Check
print("Checking for null values in first_affiliate_tracked  ... (is there any null?)")
print(df_com.first_affiliate_tracked.isnull().values.any())
print("Yikes! :/") if(df_com.first_affiliate_tracked.isnull().values.any()) else print("Yaay! :D")

Checking for null values in first_affiliate_tracked  ... (is there any null?)
False
Yaay! :D

In [9]:
#Fill
print("Filling first_affiliate_tracked column...")
df_com['first_affiliate_tracked'].fillna(-1, inplace=True)

# Check
print("Checking for null values in first_affiliate_tracked  ... (is there any null?)")
df_com.first_affiliate_tracked.isnull().values.any()
print("Yikes! :/") if(df_com.first_affiliate_tracked.isnull().values.any()) else print("Yaay! :D")

Filling first_affiliate_tracked column...
Checking for null values in first_affiliate_tracked  ... (is there any null?)
Yaay! :D

### Checking the final outcome table:

In [10]:
df_com.head()

,id,date_account_created,timestamp_first_active,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,2009-03-19 04:32:55,-unknown-,-1.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,2009-05-23 17:48:09,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,2009-06-09 23:12:47,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,2009-10-31 06:01:29,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,2009-12-08 06:11:05,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

In [11]:
df_com.isnull().sum()

id                             0
date_account_created           0
timestamp_first_active         0
gender                         0
age                            0
signup_method                  0
signup_flow                    0
language                       0
affiliate_channel              0
affiliate_provider             0
first_affiliate_tracked        0
signup_app                     0
first_device_type              0
first_browser                  0
country_destination        62096
dtype: int64

In [12]:
df_com.country_destination.isnull()

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
275517     True
275518     True
275519     True
275520     True
275521     True
275522     True
275523     True
275524     True
275525     True
275526     True
275527     True
275528     True
275529     True
275530     True
275531     True
275532     True
275533     True
275534     True
275535     True
275536     True
275537     True
275538     True
275539     True
275540     True
275541     True
275542     True
275543     True
275544     True
275545     True
275546     True
Name: country_destination, Length: 275547, dtype: bool

No column has any null value left in the data set except for country_desination. As shown above, it is test data set which has concatenated from below has returned True values for isnull() function. Whew..!

> PREVIOUS | Drill part1: [airbnb_explore.ipynb][https://github.com/singh-sona/Messy-Data-Cleanning-Projects/blob/master/airbnb_explore.ipynb] <br>
> NEXT | Drill part3: [airbnb_explore.ipynb][https://github.com/singh-sona/Messy-Data-Cleanning-Projects/blob/master/airbnb_explore.ipynb]